<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/academic-projects/home" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/academic-projects/natation" routerLinkActive="active">Swimming pool club management</a>
        </li>
        <li>
            <a routerLink="/academic-projects/bloodIdentification" routerLinkActive="active">Blood cell identification</a>
        </li>
        <li>
            <a routerLink="/academic-projects/textRecognition" routerLinkActive="active">Text recognition</a>
        </li>
        <li>
            <a routerLink="/academic-projects/stock-management" routerLinkActive="active">Pharmacy stock management</a>
        </li>
        <li>
            <a routerLink="/academic-projects/poker" routerLinkActive="active">Poker game</a>
        </li>
        <li>
            <a routerLink="/academic-projects/sharify" routerLinkActive="active">Sharify</a>
        </li>
        <li>
            <a routerLink="/academic-projects/generateur-carte-isometrique" routerLinkActive="active">Isometric map generator</a>
        </li>

        <li>
            <a routerLink="/academic-projects/zips-law" routerLinkActive="active">Zip's law</a>
        </li>


        <li>
            <a routerLink="/academic-projects/alcatraz" routerLinkActive="active">Alcatraz</a>
        </li>
        <li>
            <a routerLink="/academic-projects/tally" routerLinkActive="active">Tally</a>
        </li>
    </ul>
  </nav>