<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <h2 class="text-header">Work projects</h2>
                <p>In this section I try to cover some of the projects and involvments I am/was part of in a corporate environment. <b>Due to proprietary policy, some of the code is not the same as the original being used OR unavailable.</b> </p>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col col-sm-4 col-md-4 col-lg-4">
                    <div class="card text-dark bg-light mb-3 h-80" style="max-width: 25rem;">
                        <div class="card-header"><p class="card-title">FM Central</p></div>
                        <div class="card-body">
                            <div>
                                <p class="text-muted">Intranet based platform that centralizes the following services :</p>
                                <ul>
                                    <li><p class="text-muted">Meta data construction project management</p></li>
                                    <li><p class="text-muted">Dashboard self service</p></li>
                                    <li><p class="text-muted">Onboarding</p></li>
                                    <li><p class="text-muted">Project management form requests</p></li>
                                </ul>
                                <div class="text-center mt-5">
                                    <a type="button" class="btn btn-outline-success access-button"routerLink="/work-projects/pmo-concordia">More</a>
                                    <a type="button" class="btn btn-primary ms-3" href="https://github.com/Fouad99/Prolist" target="_blank">Git<i class="bi bi-heart ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row pt-1">
                                <div class="col col-md-1">
                                    <img src="assets/images/concordia-icon.png" width="25px" >
                                </div>
                                <div class="col col-md-9 text-muted" style="padding-top: 3px; padding-left: 20px;">
                                    <p>Concordia University - Facilities Management division</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="col col-sm-4 col-md-4 col-lg-4">
                    <div class="card text-dark bg-light mb-3 h-80" style="max-width: 25rem;">
                        <div class="card-header"><p class="card-title">Lead</p></div>
                        <div class="card-body">
                            <div>
                                <p class="text-muted">Intranet based web application for Team leaders and quality control managers that provides : </p>
                                <ul>
                                    <li><p class="text-muted">Daily performance data of frontline agents</p></li>
                                    <li><p class="text-muted">Feedback registration of team leaders</p></li>
                                    <li><p class="text-muted">KPI compiling</p></li>
                                </ul>
                                <div class="text-center mt-5">
                                    <a type="button" class="btn btn-outline-success access-button"routerLink="/work-projects/sig-bneder">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row pt-1">
                                <div class="col col-md-1">
                                    <img src="assets/images/Rogers.png" width="25px" >
                                </div>
                                <div class="col col-md-9 text-muted" style="padding-top: 3px; padding-left: 20px;">
                                    <p>Rogers Communications</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="col col-sm-4 col-md-4 col-lg-4">
                    <div class="card text-dark bg-light mb-3 h-80" style="max-width: 25rem;">
                        <div class="card-header"><p class="card-title">Interaction Generator</p></div>
                        <div class="card-body">
                            <div>
                                <p class="text-muted">Intranet based web application for Front line customer service agents that provides : </p>
                                <ul>
                                    <li><p class="text-muted">Anticipation of more than 300 situations</p></li>
                                    <li><p class="text-muted">Sales speech suggestions</p></li>
                                    <li><p class="text-muted">Data validation</p></li>
                                    <li><p class="text-muted">Instant save of the interaction</p></li>
                                </ul>
                                <div class="text-center mt-5">
                                    <a type="button" class="btn btn-outline-success access-button"routerLink="/work-projects/ig-rogers">More</a>
                                    <a type="button" class="btn btn-primary ms-3" href="https://github.com/Fouad99/IG" target="_blank">Git<i class="bi bi-heart ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row pt-1">
                                <div class="col col-md-1">
                                    <img src="assets/images/Rogers.png" width="25px" >
                                </div>
                                <div class="col col-md-9 text-muted" style="padding-top: 3px; padding-left: 20px;">
                                    <p>Rogers Communications</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col col-sm-4 col-md-4 col-lg-4">
                    <div class="card text-dark bg-light mb-3 h-80" style="max-width: 25rem;">
                        <div class="card-header"><p class="card-title">GIS-52-BISKRA</p></div>
                        <div class="card-body">
                            <div>
                                <p class="text-muted">Geographic Information System in form of a Desktop application with the following features : </p>
                                <ul>
                                    <li><p class="text-muted">Covers the entire Wilaya of Biskra</p></li>
                                    <li><p class="text-muted">Hydrographic network Data</p></li>
                                    <li><p class="text-muted">Road network data</p></li>
                                    <li><p class="text-muted">Location research based on coordinates</p></li>
                                </ul>
                                <div class="text-center mt-5">
                                    <a type="button" class="btn btn-outline-success access-button"routerLink="/work-projects/sig-bneder">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row pt-1">
                                <div class="col col-md-1">
                                    <img src="assets/images/Bneder.jpg" width="25px" >
                                </div>
                                <div class="col col-md-9 text-muted" style="padding-top: 3px; padding-left: 20px;">
                                    <p>BNEDER</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3" style="background-color: #912338">
    <div class="container" style="color: white">
        <p class="text-center">&copy; Mohamed Fouad Serradj 2022</p>
    </div>
</footer>