<main role="main">
    <section class="homeSection text-center">
        <div class="container-fluid" style="background-image: url('assets/images/homepage2.jpg');
        background-repeat: no-repeat; background-size: cover; height: 40rem;">
            <div class="container" style="padding-top: 10rem; color: white">
                <h1 class="homeSectionHeading mb-3">Welcome</h1>
                <h5>I am a Montreal based full stack developer and an AI enthusiast. Throughout my career,
                I have been involved in the different phases of the software development, from the software requirements analysis to the moment we bring it to life.</h5>
                <h5>
                My interests in a near future tend towards DevOps and Cloud computing.</h5>
                <div class="text-center mt-5">
                  <a type="button" (click)="scroll(myExpertise)"class="btn btn-lg btn-light me-5">My expertise</a>
                  <a type="button" (click)="scroll(contact)"class="btn btn-lg btn-outline-light">Contact</a>
                </div>
                
            </div>
        </div>
    </section>
    <div #myExpertise class="container">
        <h2 class="text-center mt-5" style="color: #912338 ;font-weight: 700; font-size: 40px;">WHAT I DO</h2>
    </div>
    <div class="album py-5 page-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="container text-center">
                            <img  alt="Clean code" src="assets/images/clean-code2.png" >
                        </div>
                        <div class="container mt-2 text-center">
                            <h3 class="what-i-do">Clean and testable code</h3>
                            <p class="mt-4 what-i-do-text">Based on the most up to date best practises and design patterns notions taugh by <a class="no-style-link " href="https://en.wikipedia.org/wiki/Design_Patterns" target="_blank">GoF</a>, I look forward to write the most maintainable code possible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="container text-center">
                            <img  alt="Clean code" src="assets/images/analysis.png" >
                        </div>
                        <div class="container mt-2 text-center">
                            <h3 class="what-i-do">Requirements analysis</h3>
                            <p class="mt-4 what-i-do-text">From my years of experience advising and interacting with stakeholders from diverse areas, I learnt how to determine client expectations effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="container text-center">
                            <img  alt="Clean code" src="assets/images/automation.png" >
                        </div>
                        <div class="container mt-2 text-center">
                            <h3 class="what-i-do">Automation & documentation</h3>
                            <p class="mt-4 what-i-do-text">Whether it is for software delivery or testing, I've been involved in writing bash or python scripts that implement automation pipelines.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center mt-5 mb-5" style="color: #912338 ;font-weight: 700; font-size: 40px;">CONTACT ME</h2>
    </div>
    <div #contact class="row contact-section">
        <div class="col-md-3">
            <div class="text-center">
                <img  alt="Phone" src="assets/images/phone-call.png" >
            </div>
            <div class="text-center mt-3">
                <h3 class="contact-title">Phone</h3>
            </div>
            <div class="text-center mt-5">
                <h6>438-992-6903</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img  alt="Phone" src="assets/images/linkedin.png" >
            </div>
            <div class="text-center mt-3">
                <h3 class="contact-title">Linkedin</h3>
            </div>
            <div class="text-center mt-5">
                <h6><a style="color: #FFFFFF; font-weight: 700; font-size: 20px;" href="https://linkedin.com/in/mohamed-fouad-serradj-47a810203" target="_blank">Visit me</a></h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img  alt="Phone" src="assets/images/gmail.png" >
            </div>
            <div class="text-center mt-3">
                <h3 class="contact-title">Gmail</h3>
            </div>
            <div class="text-center mt-5">
                <h6>srdj.professional@gmail.com</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img  alt="Phone" src="assets/images/git.png" >
            </div>
            <div class="text-center mt-3">
                <h3 class="contact-title">Git</h3>
            </div>
            <div class="text-center mt-5">
                <h6><a style="color: #FFFFFF; font-weight: 700; font-size: 20px;" href="https://github.com/Fouad99/" target="_blank">GitHub</a></h6>
                <h6><a style="color: #FFFFFF; font-weight: 700; font-size: 20px;" href="https://gitlab.info.uqam.ca/serradj.mohamed_fouad" target="_blank">GitLab</a></h6>
            </div>
        </div>
    </div>

</main>
<footer class="footer mt-auto py-3" style="background-color: #912338">
    <div class="container" style="color: white">
        <p class="text-center">&copy; Mohamed Fouad Serradj 2022</p>
    </div>
</footer>