<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <h2 class="text-header">Facilities Management Central</h2>
            </div>

            <div class="row mt-3 mb-3">
                <div class="col col-sm-12 col-md-12 col-lg-12">
                    <p-tabView>
                        <p-tabPanel header="Description">
                            <div class="row mt-2">
                                <p>The <b>FM Central</b> is an intranet plateform designed to manage construction project data and business dashboards of the Facilities management department of the university of Concordia.</p>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Architecture">
                            <div class="row mt-2">
                                <p>The <b>FM Central</b> software is a distributed system that contains 3 developed API's and consume Microsoft Azure API's for the authentication service and the <b>Power BI service</b> </p>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Technological Stack">
                            <div class="row mt-2">
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3" style="background-color: #912338">
    <div class="container" style="color: white">
        <p class="text-center">&copy; Mohamed Fouad Serradj 2022</p>
    </div>
</footer>
