<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/work-projects/home" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/work-projects/pmo-concordia" routerLinkActive="active">FM Central</a>
        </li>
        <li>
            <a routerLink="/work-projects/lead" routerLinkActive="active">Lead</a>
        </li>
        <li>
            <a routerLink="/work-projects/ig-rogers" routerLinkActive="active">Interaction Generator</a>
        </li>
        <li>
            <a routerLink="/work-projects/sig-bneder" routerLinkActive="active">GIS-52</a>
        </li>
    </ul>
  </nav>